<button type="button" class="btn btn-primary" (click)="openModal(template)" >Add inventory</button>


<ng-template #template>
    <div class="modal-header">
       <h4 class="modal-title pull-left">Modal</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">
        <form class="body" [formGroup]="InvtForm">
            <!-- header -->
              <label>Name</label>
              <div class="form-group">
                  <input class="form-control form-control-sm" type="text" placeholder="" formControlName="itemName">
              </div>
              <label>Description</label>
              <div class="form-group">
                <input class="form-control form-control-sm" type="text" placeholder="" formControlName="description">
              </div>
              <label>Rate</label>
              <div class="form-group">
                <input class="form-control form-control-sm" type="text" placeholder="" formControlName="rate">
              </div>
              <label>condition</label>
              <div class="form-group">
                <input class="form-control form-control-sm" type="text" placeholder="" formControlName="condition">
              </div>
              <label>Qty</label>
              <div class="form-group">
                <input class="form-control form-control-sm" type="text" placeholder="" formControlName="qty">
              </div>
              <button class="btn btn-primary"(click)="AddInvtData()">Add Bill</button>
        </form>      
        
    </div>
    <!-- <div class="modal-footer">
       <button type="button" class="btn btn-default">Close</button>
    </div> -->
 </ng-template>
