.content {
    /* margin-top: 10px ; */
    margin-left: -40%;
    background-color: #fefefe;
    padding: 20px;
    width:1000px;
  }

  /* .xlModal > .modal-dialog {
    
    max-width: 1490px !important;
    min-width: 971px !important;   
    width: 95% !important;
}

td{
  border: 1px solid black;
}

#top-table{
  
  box-shadow: none;
  border-bottom: none !important;
}

#top-right-table{
  height: 380px !important;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
#mid-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

#right-side-top-table{
  border-left: none !important;
  border-top : none !important;
}

#left-side-top-table{
  border-right: none !important;
  border-top : none !important;
}

#bot-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

#rate-col{
  width: 50%;
  border-bottom: none !important;
  border-left: none !important;
}

#amount-col{
  border-bottom: none !important;
  border-right: none !important;
}

#rate1-val{
  border-bottom: none !important;
  border-left: none !important;
  border-top: none !important;
}

#col1-val{
  border-bottom: none !important;
  border-right: none !important;
  border-top: none !important;
}

th {
  width: 25%
} */


.content-header-email{
/* display: inline-block; */
width: 100%;
display: flex;
}

.content-line1{
  float: right;
}


div.a {
  /* color: #000;
  display: block;
  padding: 0 65px 0 0;
  text-decoration: none;
  */
  width:100%; 
  text-align: center;
}

div.b {
  /* color: #000;
  display: block;
  padding: 0 65px 0 0;
  text-decoration: none; */
  width:100%;
  text-align: left;
}

div.c {
  /* color: #000;
  display: block;
  padding: 0 65px 0 0;
  text-decoration: none; */
  width:100%;
  text-align: right;
} 

#top-table{
  width:100%;
  box-shadow: none;
  border: 1px solid black;
}

th , td{
  border: 1px solid black;
}

#bottomborderNone {
  border-left: none !important;
  border-right: none !important;
}

