<button type="button" class="btn btn-primary" (click)="openModal(template)" >Add Bill</button>


<ng-template #template>
    <div class="modal-header">
       <h4 class="modal-title pull-left">Modal</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">
      <form class="body" [formGroup]="billForm">
  
         <!-- header -->
           <label>Invoice No.</label>
           <div class="form-group">
             <input class="form-control form-control-sm" type="text" placeholder="" formControlName="billNo">
           </div>
           <label>Company Name</label>
           <div class="form-group">
             <input class="form-control form-control-sm" type="text" placeholder="" formControlName="companyName" required>
             <div *ngIf="billForm.get('companyName')?.hasError('required') && billForm.get('companyName')?.touched">
              Companyname is required
            </div>
           </div>
          
           <label>Address</label>
           <div class="form-group">
             <input class="form-control form-control-sm" type="text" placeholder="" formControlName="address">
           </div>
           <label>Gst no.</label>
           <div class="form-group">
             <input class="form-control form-control-sm" type="text" placeholder="" formControlName="gstNo">
           </div>
           
           <!-- bill description to total amount -->
          <br>
          <label>Item name</label>
          <div class="form-group">
            <input class="form-control form-control-sm" type="text" placeholder="" formControlName="particulars">
          </div>
          <label>Qty</label>
           <div class="form-group">
             <input class="form-control form-control-sm" type="text" placeholder="" formControlName="qty">
           </div>
           <label>rate</label>
           <div class="form-group">
             <input class="form-control form-control-sm" type="text" placeholder="" formControlName="rate">
           </div>
           <label>pcs</label>
           <div class="form-group">
             <input class="form-control form-control-sm" type="text" placeholder="" formControlName="pcs">
           </div>
           <input mdbCheckbox class="form-check-input" formControlName="igst_box" type="checkbox" value=""  id="flexCheckDefault"  (change)="onChangeIgst($event)"/>
           <label class="form-check-label" for="flexCheckDefault">
             IGST-box
           </label>
           <br>
          
           <ng-template [ngIf]="isCheckedIGST">
             <label>IGST</label>
            <div class="form-group">
              
              <input class="form-control form-control-sm" type="text" placeholder="" formControlName="igst">
            </div></ng-template>
            <br>
          
           <input mdbCheckbox class="form-check-input" formControlName="igst_box" type="checkbox" value=""  id="flexCheckDefault"  (change)="onChangeCgst($event)"/>
           <label class="form-check-label" for="flexCheckDefault">
             CGST-box
           </label>
           <br>
           <ng-template [ngIf]="isCheckedCGST"><label>CGST</label>
            <div class="form-group">
              <input class="form-control form-control-sm" type="text" placeholder="" formControlName="cgst">
            </div></ng-template>
            <br>
            <ng-template [ngIf]="isCheckedCGST"> <label>SGST</label>
              <div class="form-group">
                <input class="form-control form-control-sm" type="text" placeholder="" formControlName="sgst">
              </div></ng-template>

              <button type="button" class="btn btn-primary" (click)="Itemdata()" >Add item</button>

              
           
         </form>
         <ng-template [ngIf]="billItem.length > 0">
          <div *ngFor="let item of billItem;index as i">
            amount:{{billItem[i].amount}} <br>
            qty:{{billItem[i].qty}}<br>
            rate:{{billItem[i].rate}}<br>
            pcs:{{billItem[i].pcs}}<br>
            <ng-template [ngIf]="billItem[i].igst">
              igst:{{billItem[i].igst}}<br>
              igst-amount : {{billItem[i].igstamount}}<br>
            </ng-template>
            <ng-template [ngIf]="billItem[i].cgst">
              cgst:{{billItem[i].cgst}}<br>
              cgst-amount : {{billItem[i].cgstamount}}<br>
              sgst:{{billItem[i].sgst}}<br>
              sgst-amount : {{billItem[i].sgstamount}}<br>
            </ng-template>
            totalamount : {{billItem[i].amountwithtax}}<br>
            
          </div>
          <label>Grand Total {{grandtotal}}  {{grandTotalInWord}}  </label>
         </ng-template>
         <br>
      

        
         <br>
         <button type="button" class="btn btn-primary" (click)="sendData()">Add Bill</button>
    </div>

    
    <!-- <div class="modal-footer">
       <button type="button" class="btn btn-default">Close</button>
    </div> -->
 </ng-template>