

<button type="button" class="btn btn-primary" (click)="openModal(template)" >Add employee info</button>


<ng-template #template>
    <div class="modal-header">
       <h4 class="modal-title pull-left">Modal</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">
      <label>Name</label>
      <div class="form-group">
          <input class="form-control form-control-sm" type="text" placeholder="">
      </div>
      <label>designation</label>
      <div class="form-group">
        <input class="form-control form-control-sm" type="text" placeholder="">
      </div>
      <label>working hour</label>
      <div class="form-group">
        <input class="form-control form-control-sm" type="text" placeholder="">
      </div>
      <label>age</label>
      <div class="form-group">
        <input class="form-control form-control-sm" type="text" placeholder="">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <!-- <div class="modal-footer">
       <button type="button" class="btn btn-default">Close</button>
    </div> -->
 </ng-template>