<button type="button" class="btn btn-primary" (click)="openModal(template)" >Add machines</button>


<ng-template #template>
    <div class="modal-header">
       <h4 class="modal-title pull-left">Modal</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">
      <form class="body" [formGroup]="machineForm">
        <!-- header -->
          <label>Machine Name</label>
          <div class="form-group">
              <input class="form-control form-control-sm" type="text" placeholder="" formControlName="machineName">
          </div>
          <label>Modelno.</label>
          <div class="form-group">
            <input class="form-control form-control-sm" type="text" placeholder="" formControlName="modelno">
          </div>
          <label>Size</label>
          <div class="form-group">
            <input class="form-control form-control-sm" type="text" placeholder="" formControlName="size">
          </div>
          <label>Description</label>
          <div class="form-group">
            <input class="form-control form-control-sm" type="text" placeholder="" formControlName="description">
          </div>
          <button class="btn btn-primary"(click)="Addmachine()">Add Bill</button>
    </form>      
    
    
    </div>
    <!-- <div class="modal-footer">
       <button type="button" class="btn btn-default">Close</button>
    </div> -->
 </ng-template>