<div class="body">
    <!-- <button class="btn" routerLink="/company-bill">Bill</button>
    <button class="btn" routerLink="/company-inventory" >Inventory</button>
    <button class="btn" routerLink="/company-machines">Machines</button>
    <button class="btn" routerLink="/worker-info" >Worker Info</button> -->
    <!-- <button class="btn" >Mini-store</button> -->

    <mat-tab-group>
        <mat-tab class="btn" label="Bill" > <app-company-bill/> </mat-tab>
        <mat-tab label="Second" label="Inventory"> <app-company-inventory/></mat-tab>
        <mat-tab label="Third" label="Machines"> <app-company-machines/> </mat-tab>
        <mat-tab label="Third" label="Worker-Info"> <app-worker-info/> </mat-tab>
      </mat-tab-group>
</div>
    


