.body{
    margin-left: 10%;
    margin-top: 10px;
}

.xlModal > .modal-dialog {
    max-width: 1490px !important;
    min-width: 971px !important;   
    width: 95% !important;
}

/* #first-col{
  width: 300px;
}

col:nth-child(2) {
  width: 80%;
} */
/* 
#top-table{
  
  box-shadow: none;
  border-bottom: none !important;
}

#top-right-table{
  height: 380px !important; */
  /* table-layout: fixed; */
  /* border-collapse: collapse; */
  /* width: 100%;
}
#mid-table {
  table-layout: fixed; */
  /* border-collapse: collapse; */
  /* width: 100%;
}

#right-side-top-table{
  border-left: none !important;
  border-top : none !important;
}

#left-side-top-table{
  border-right: none !important;
  border-top : none !important;
}

#bot-table {
  table-layout: fixed; */
  /* border-collapse: collapse; */
  /* width: 100%;
}

#rate-col{
  width: 50%;
  border-bottom: none !important;
  border-left: none !important;
}

#amount-col{
  border-bottom: none !important;
  border-right: none !important;
}

#rate1-val{
  border-bottom: none !important;
  border-left: none !important;
  border-top: none !important;
}

#col1-val{
  border-bottom: none !important;
  border-right: none !important;
  border-top: none !important;
}

th {
  width: 25%
}
 */





/* old */
.content {
    background-color: #fefefe;
    margin: 10px;
    padding: 20px;
    /* border:1px solid #888; */
    width:95%;
  }
  
.address{
  width: fit-content;
block-size: fit-content;
    font-size: smaller;
}