<div class="body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">bill No</th>
        <th scope="col">Company Name</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let billData of bill_data; index as i" (click)="billModal(billData)">
        <td> {{ billData.date }} </td>
        <td> {{ billData.billNo }} </td>
        <td> {{ billData.companyName }} </td>
        <td> ₹{{ billData.grandTotal }} </td>
      </tr>
    </tbody>
  </table>
  <app-company-bill-modal />


</div>

