
<div class="body"> 
  <table class="table table-striped">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel title="GeeksforGeeks">
        <ng-template ngbPanelContent>
          <tr *ngFor="let invtData of invtDatas; index as i">
          <td> {{ invtData.itemName }} </td>
          <td> {{ invtData.rate }} </td>
          <ngb-accordion #acc="ngbAccordion">
            <ngb-panel title="GeeksforGeeks">
              <ng-template ngbPanelContent>
                <tr *ngFor="let invtData of invtDatas; index as i">
                <td> {{ invtData.itemName }} </td>
                <td> {{ invtData.rate }} </td>
              </tr>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </tr>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
      
  </table>
  <app-company-inventory-modal/>
</div>

